@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;1,300&display=swap");

:root {
  --page-width: 595px;
  --page-height: 842px;
  --color-background: black;
  --color-page-background: rgb(251, 251, 251);
  --text-zoom: 1;
}

.doublepage {
  --page-background-color: var(--color-page-background);
  --gap: 13px;
  --gap-vertical: 13px;
  --colonne-count: 10;
  --gap-count: calc(var(--colonne-count) - 1);
  --line-count: 9;
  --page-padding: 13px;
  --row-background-color: orange;
  --colonne-width: calc(
    (
        var(--page-width) - (var(--page-padding) * 2) -
          (var(--gap) * var(--gap-count))
      ) / var(--colonne-count)
  );
  --row-height: calc(
    (
        var(--page-height) - (var(--page-padding) * 2) -
          (var(--gap-vertical) * var(--gap-count))
      ) / var(--line-count)
  );

  /* border: 1px solid var(--color-page-background); */
  width: var(--page-width);
  height: var(--page-height);
  overflow: hidden;
  display: grid;
  box-shadow: 0 0 0 var(--page-padding, 0) inset var(--page-background-color),
    0 0 0 calc(var(--page-padding, 0) + 1px) inset var(--colonne-couleur);
  margin: auto;
  /*grid-template-columns: repeat(
    calc(var(--colonne-count)),
    var(--colonne-width)
  );*/
  grid-template-columns: repeat(8, 1fr 1fr 13px) 1fr 1fr;
  
  grid-template-rows: repeat(calc(var(--line-count)), var(--row-height));
  gap: var(--gap-vertical) var(--gap);
  background-color: var(--page-background-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--colonne-background-color) 0px,
      var(--colonne-background-color) 2px,
      var(--colonne-background-color) 2px,
      var(--colonne-background-color) calc(var(--colonne-width) - 1px),
      var(--colonne-background-color) var(--colonne-width),
      var(--page-background-color) calc(var(--colonne-width) + 1px),
      var(--page-background-color) calc(var(--colonne-width) + var(--gap))
    ),
    repeating-linear-gradient(
      to bottom,
      var(--row-background-color) 0px,
      var(--row-background-color) 2px,
      var(--row-background-color) 2px,
      var(--row-background-color) calc(var(--row-height) - 1px),
      var(--row-background-color) var(--row-height),
      var(--page-background-color) calc(var(--row-height) + 1px),
      var(--page-background-color) calc(var(--row-height) + var(--gap))
    );
  background-position: var(--page-padding, 0) var(--page-padding, 0);
  padding: var(--page-padding, 0) var(--page-padding, 0);
  grid-column: var(--posx);
  grid-row: var(--posy);
  scroll-margin: 10em;
  position: relative;
  overflow: hidden;
}

html {
  background: var(--color-background);
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  touch-action: none;
}
main {
  font-size: calc(1em * var(--text-zoom));
  top: 0px;
  left: 0px;
  touch-action: none;
  
}
.wrapper {
  margin: 100px;
  display: grid;
  font-size: 0.8em;
  display: grid;
  gap: 10em;
  border-top: calc(var(--page-width) / 2);
  border-bottom: calc(var(--page-height) / 2);
  grid-template-columns: repeat(var(--wrap-cols, 12), var(--page-width));
  grid-template-rows: repeat(var(--wrap-rows, 12), var(--page-height));
  grid-column-gap:0px;
  /*overflow: hidden;*/
}
header{
  z-index: 100;
}

.tools button:hover{
  cursor: pointer;
}

.tools {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
 
}

.tools button {
  background: white;
  border: 0;
  text-transform: uppercase;
}

.tools button:hover {
  color: red;
}

.toc {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  background: black;
  border: 1px solid white;
}

figure {
  margin: 0;
  padding: 0;
}

/*img {
  width: 100%;
  height: auto;
  object-fit: contains;
}*/

figcaption {
  font-family: sans-serif;
  font-size: 0.7em;
}

video {
  filter: grayscale(100);
  width: 100%;
  background: var(--color-video-background);
  /*padding: 1em;*/
}
video:hover{
  filter:grayscale(0);
}
/* :target {
  box-shadow: 0 0 0 var(--page-padding) var(--color-page-background) inset,
    0 0 0 10px black, 0 0 0 12px white;
} */

.toc {
  display: grid;
  grid-template-columns: repeat(var(--wrap-cols), calc(var(--page-width) / 60));
  grid-template-rows: repeat(var(--wrap-rows), calc(var(--page-height) / 60));
  padding: 1em;
  z-index: 20000;
}
.toc a {
  /* border: 1px solid white; */
  grid-column: var(--posx);
  grid-row: var(--posy);
  background: black;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid white;
}
ul{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
.toc a:active {
  color: red;
}


.toc a:hover {
  background: white;
  color: red;
}

/* controls */

.doublepage.showgrid {
  --colonne-background-color: rgba(200, 200, 200, 0.8);
  --colonne-couleur: cyan;
  --color-background-show: rgba(100, 100, 100, 0.3);
  --color-video-background: rgba(200, 0, 0, 0.5);
}

@media print {
  @page {
    size: 1200px 800px;
    margin: 0;
    padding: 0;
  }

  .tools {
    display: none;
  }

  .doublepage {
    margin: 0;
    padding: 0;
    margin: 0;
  }

  .wrapper {
    transform: unset;
    display: block;
    margin: 0;
    padding: 0;
  }
}
