@import url(reset.css);
@import url(ui.css);


.wrapper {
    display: flex;
    margin: auto;
  }
  

  .doublepage {
      width: 29.7cm;
      height: 21cm;
      border: 2px solid black;
      overflow: hidden;
      padding: 2em;
  } 

.content {
    column-count: 2;
}

  .float {
      width: 130%;
      float: left;
      shape-outside: margin-box;
      shape-margin: 20px;
      margin: 0 20px 20px 0;
  }