@font-face {
    font-family: "NeueH";
    src: url("./fonts/NHaasGroteskTXPro-65Md.ttf");
}
@font-face {
    font-family: "NeueH";
    font-style: italic;
    src: url("./fonts/NHaasGroteskTXPro-66MdIt.otf");
}
h1{
    font-weight: unset;
}
section{
    hyphens: auto;
}
.size6{
 font-size: 6.8pt;
 line-height: 7pt;
 font-family: "NeueH";

}
a{
    text-decoration: none;
    color: black;
    font-family: "NeueH";
    font-style: italic;
    cursor: pointer;
  }
  a:visited{
    color: grey;
  }

.size15{
    font-size: 15pt;
    line-height: 14pt;
    font-family: "NeueH";
}
.size5{
    font-size: 5pt;
    line-height: 5.2pt;
    font-family: "NeueH";
}

.pligne{
    padding-top: 2px;
    padding-bottom: 2px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr;
    border-bottom: 0.5px solid black;
}

.ptableau {
    display: grid;
    grid-template-columns: 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr;
    grid-auto-flow: column;
   
}
.ptableau div:nth-last-child(1){
    padding-bottom: 2px;
}
.grey{
  background: linear-gradient(to right, #464646 0%, #9c9c9c 100%);
  background-clip: text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.greytowhite{
    background: linear-gradient(to right, #464646 0%, #fefefe 70%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.ligthgrey{
    background: linear-gradient(to right, #9e9e9e 0%, #efefef 100%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ligthgreyInverted{
    background: linear-gradient(to right, #efefef,#9e9e9e 0%, 100%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.ultralightgrey {
    background: linear-gradient(to right, #f0f0f0 0%, #efefef 100%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#db-5{
    overflow: visible;
}
sup{
    line-height: 0%;
}
.gradientToTop{

    background-image: linear-gradient(  rgb(255, 255, 255,1), rgb(255, 255, 255,0));

}

.grayscale{

    filter: grayscale(100%);
}
.grayscale:hover{

    filter: grayscale(0%);
}