.overflow::before {
/* content: "+"; */
font-weight: 800;
font-size: 2em;
background: red;
border: 2px solid white;
color: white;
position: absolute;
top: 10px;
left: 10px;
padding: .3em 1ch;
}

.overflow {
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 0 0 2px red inset;  */
}


/* shape-outside: polygon(90% 0, 100% 0, 10% 100%, 0 100%); */


body {
    overflow: hidden;
}

.spanning {
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 20000;
    position: fixed;
    cursor: grab;
    touch-action: none;
}

.spanning.moving {
    cursor: grabbing;
}

.revert {
    filter: invert();
}


.wrapper {
    position: relative;
    left: var(--leftWrap);
    top: var(--toptWrap);
    transform: scale(1.1);
}