<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alexis - prototype</title>

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/index.js" type="module"></script>
        <script src="/js/drag.js" type="module"></script>

    </head>

    <body>

        {% block content %}{% endblock %}

    </body>

</html>