{% extends "base.njk" %}

{% block content %}

    <div class="spanning"></div>

    <header class="tools">
        <button id="zoomin" >zoom +</button>
        <button id="zoomout" >zoom -</button>
        {# <button id="zoomnone">zoom reset</button> #}
        <button id="showGrid">showGrid</button>
    </header>

    <aside class="toc">
        {% for page in collections.doublepage %}
            <a style="
            {% if page.data.posx %} --posx: {{page.data.posx}}; {% endif %}
            {% if page.data.posy %} --posy: {{page.data.posy}}; {% endif %}
             " href="#db-{{page.data.id}}">{{page.data.id}}</a>
        {% endfor %}
    </aside>

    <main class="wrapper" style="--wrap-rows: {{wraprows}}; --wrap-cols: {{wrapcols}}" data-x="" data-y="">
        {% for page in collections.doublepage %}
            <section style=" 
  {% if page.data.posx %} --posx: {{page.data.posx}}; {% endif %}
  {% if page.data.posy %} --posy: {{page.data.posy}}; {% endif %}
  {% if page.data.gap %} --gap: {{page.data.gap}}; {% endif %}
  {% if page.data.gapvertical %} --gap-vertical: {{page.data.gapvertical}}; {% endif %}
  {% if page.data.colonnecount %} --colonne-count: {{page.data.colonnecount}}; {% endif %}
  {% if page.data.linecount %} --line-count: {{page.data.linecount}}; {% endif %}
  {% if page.data.pagepadding %} --page-padding: {{page.data.pagepadding}};{% endif %}"
  
   class="doublepage" id="db-{{page.data.id}}">

                {# <h2>{{page.data.title}}</h2> #}

                {{ page.templateContent | safe}}

            </section>

        {% endfor %}

    </main>

{% endblock %}